* {
    box-sizing: border-box;
}

/* Used vh in min-height to force the body to cover 100% of the screen*/
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: darkslateblue;
}

header {
    background-color: darkslateblue;
}

.start-title {
    text-align: center;
    font-size: 4rem;
    text-decoration: underline;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    margin:auto;
}

.begin-button {
    border: 2px black solid;
    border-radius: 10px;
    background-color: darkslategray;
    margin:auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-left: 45%;
}

.button {
    border: 2px black solid;
    border-radius: 10px;
    background-color: darkslategray;
    margin:auto;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.stats-area {
    display: flex;
    justify-content: space-around;
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    background-color:darkslateblue;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.timer {
    text-align: center;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 5px;
    padding-right: 5px;
}

.card2 {
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: auto;
    margin-left: 7%;
    width: min-content;
    height: min-content;
    background-color: darkorange;
}

.card1 {
    border: 2px solid black;
    border-radius: 10px;
    margin: auto; 
    background-color: darkorange;
}

/* Odd vh height here so the quiz area will fill the screen*/
.quiz-area {
    background-color:darkslateblue;
    flex: 1;
    flex-direction: column;
    height:71.1vh;
}

.quiz-card {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 5px solid black;
    background-color: rgb(196, 196, 196);
    width: 98.5vw;
    height: 99%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-weight: bolder;
}

#a,
#b,
#c,
#d {
width: 200px;
height: 100px;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
background-color: aqua;
font-size: 20px;
font-weight: bold;
}

#a:hover, #b:hover, #c:hover, #d:hover {
    background-color:cornflowerblue;
}

.correct, .incorrect {
    background-color:blue;
    color:white;
    font-size: 2rem;
    border: black solid 2px;
    height: max-content;
    width: max-content;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
}